################################################################################

# emacs
*~
source/Clock/data/*
source/*.pem
source/*.der
hardware/*.stl
hardware/*.gcode

################################################################################
