################################################################################

# emacs
*~
source/Clock/data/*
source/*.pem
source/*.der

################################################################################
